--- angular.json	2021-01-22 10:22:10.000000000 +0100
+++ angular.json	2021-01-22 09:31:45.000000000 +0100
@@ -20,7 +20,7 @@
         "build": {
           "builder": "@angular-devkit/build-angular:browser",
           "options": {
-            "outputPath": "dist/$NAME/browser",
+            "outputPath": "dist/$NAME",
             "index": "src/index.html",
             "main": "src/main.ts",
             "polyfills": "src/polyfills.ts",
