--- src/app/app.module.ts	2021-01-20 15:19:21.000000000 +0100
+++ src/app/app.module.ts	2021-01-08 09:54:55.000000000 +0100
@@ -4,7 +4,18 @@
 import { AppComponent } from './app.component';
 import { translations, translationChunksConfig } from '@spartacus/assets';
 import { B2cStorefrontModule } from '@spartacus/storefront';
+import { OccConfig } from '@spartacus/core';
+import { environment } from 'src/environments/environment';
 
+const occConfig: OccConfig = { backend: { occ: {} } };
+// only provide the `occ.baseUrl` key if it is explicitly configured, otherwise the value of
+// <meta name="occ-backend-base-url" > is ignored.
+// This in turn breaks the deployment in CCv2
+// https://github.com/SAP/spartacus/issues/5886
+occConfig.backend.occ.prefix = '/occ/v2/'
+if (environment.occBaseUrl) {
+  occConfig.backend.occ.baseUrl = environment.occBaseUrl;
+}
 @NgModule({
   declarations: [
     AppComponent
@@ -12,11 +23,7 @@
   imports: [
     BrowserModule.withServerTransition({ appId: 'serverApp' }),
     B2cStorefrontModule.withConfig({
-      backend: {
-        occ: {
-          baseUrl: 'https://localhost:9002'
-        }
-      },
+      backend: occConfig.backend,
       context: {
         currency: ['USD'],
         language: ['en'],
