--- server.ts	2021-03-04 11:21:30.000000000 +0100
+++ server.ts	2021-03-04 11:26:15.000000000 +0100
@@ -14,7 +14,7 @@
 // The Express app is exported so that it can be used by serverless Functions.
 export function app() {
   const server = express();
-  const distFolder = join(process.cwd(), 'dist/$NAME/browser');
+  const distFolder = join(process.cwd(), 'dist/$NAME');
   const indexHtml = existsSync(join(distFolder, 'index.original.html'))
     ? 'index.original.html'
     : 'index';
